<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>OTP Email</title>
</head>
<body>

<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;line-height:2;text-align: center">
    <div style="margin:50px auto;width:50%;padding:20px 0;">
        <img src="https://download.logo.wine/logo/Spring_Framework/Spring_Framework-Logo.wine.png" style="width:60px;height: 60px;">
        <div style="">

            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Expense Tracking Application </a>
        </div>

        <p style="font-size:1.1em">Before you sign in, we need to verify your identity. Enter the following code <br> on the sign-in page.</p>


                <p style="font-size:1.4em;width: 130px; height: 40px;background-color:gainsboro;margin: auto; padding-top: 8px " th:text="${otp}"></p>


        <p style="font-size:0.9em;">Welcome to the Expense Tracking Application. Here, you can monitor your expense and <br/>manage your budget effectively.</p>

    </div>
</div>

</body>
</html>
